html {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100% !important;
  width: 100%;
  padding: 0;
  margin: 0;
}

#viewer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewer2 {
  height: 450px;
  width: 300px;
  position: relative;
  z-index: 0;
  display: none;
  border-radius: 50px;
}

@media screen and (max-width: 1350px) {
  #viewer2 {
    height: 350px;
    width: 200px;
  }
}

@media screen and (max-width: 800px) {
  #viewer2 {
    height: 0px;
    width: 0px;
  }
}


#containerViewer2 {
  /* contour du 2ème viewer */
  display: inline-block;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.leftDiv iframe {
  border-radius: 50px;
}

/* Display des boxs */

#boxDimensions,
#boxMateriaux,
#boxGammes,
#boxCouleurs,
#boxSituation {
  display: none;
}

/* Display des boxs couleurs */

#CouleurBois,
#CouleurPVC {
  display: none;
}

.boxMateriaux{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.boxPoignee{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.materiaux {
  position: relative;
  z-index: 1;
  /* margin-right: 1em; 
  margin-bottom: 5px;*/
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  
}

.materiaux.matSelected {
  border: solid 2px #77716b !important;
}

.menu {
  z-index: 1;
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#childMenu {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  width: 65%;
  border-radius: 15px;
  overflow: hidden;
}

#titre {
  /* font-weight: 300;
  font-size: 40px;
  color: #000000;
  z-index: 1;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #eeeeee; */
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  background-color: white;
  padding: 10px;

  /* border-top: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF; */
}

h1,
ul {
  margin: 0;
}
/* -------------CSS fil d'arianne --------------*/
.Arianne {
  width: 100%;
  height: auto;
}

.filArianne {
  z-index: 1;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: -27px; */
  /* border-bottom: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF; */
}

.listeArianne {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  flex-basis: 100%;
}

.listeArianne label {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.numero {
  /* border: 2px solid #77716b; */
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #dbced2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.numero:hover {
  background-color: #ceb9bf;
}

.numero.selected {
  /* border: 1px solid #464646; */
  height: 40px;
  width: 40px;
  background-color: #a0445d;
  font-size: 40px;
  color: #ffffff;
}

.numero.past {
  background-color: #bd7e8f;
}

.numero.past:hover {
  background-color: #b17182;
}

/* -------------FIN CSS fil d'arianne --------------*/

.box {
  /* position: absolute; */
  z-index: 1;
  top: 100%;
  left: 50%;
  /* transform: translate(1vw); */
  padding-bottom: 10px;
  text-align: center;
  border-radius: 15px;
  margin-top: 50px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.boxTitre {
  border-bottom: 1px solid rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  /*margin-bottom: 1vh;*/
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000 !important; /* Couleur dorée */
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.boxSousTitre {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  top: 0;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1vh;
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000 !important; /* Couleur dorée */
  background-color: #ffffff;
}

.boxTitrePoignee {
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0;
  /* left: 20px; */
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #000000 !important; /* Couleur dorée */
  background-color: #ffffff;
}

/* les parties de div */

#mainDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.leftDiv {
  padding-left: 10vw;
  padding-top: 5vh;
  grid-column: 1;
  grid-row: 3/5;
  z-index: 1;
}

.middleDiv {
  grid-column: 2;
  grid-row: 3/5;
}

.rightDiv {
  grid-column: 3;
  grid-row: 3/5;
  z-index: 1;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Recapitulatif */

#recap {
  font-size: 20px;
}

.recapContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}

.recapIcon {
  height: 20px;
  width: 20px;
  border-radius: 12px;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
}

.recapIcon img {
  max-width: 100%;
}

.recapTitle {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
}

/* Select de gammes */

select {
  -webkit-appearance: none; /* Safari et Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
  /* Autres styles ici */
}

select {
  width: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 17px;
  text-align: center;
  justify-items: center;
  height: 20%;
}

select:focus {
  border: none;
  box-shadow: none;
}

.GammeBox {
  background-color: #9c5e6f;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.GammeBox option {
  background-color: white;
  padding: 4px 0;
}

.GammeBox option:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/* Style pour l'option sélectionnée */
.GammeBox option:checked {
  background-color: #9c5e6f; /* Couleur de fond de l'option sélectionnée */
  color: #FFFFFF; /* Couleur du texte de l'option sélectionnée */
}

#dormantBox{
  margin-bottom: 10px;
}

.ImageMainson {
  height: 20%;
  width: 20%;
  border-radius: 50%;
  margin: 10px;
}

#upload {
  margin-bottom: 10px;
}

#titreArianne {
  color: #000000;
  font-size: 20px;
  font-weight: 200;
}

.label {
  color: #000000;
}

.recapTitle,
.recapContainer {
  color: #000000;
}

/* TOGGLE */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #9c5e6f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9c5e6f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

/* FIN TOGGLE */

/* INFOBULLE */

#survol {
  position: relative;
  display: inline-block;
}

/*
.tooltip {
  display: none;
  position: absolute;
  background: #0e0e0ec4;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-60%);
  z-index: 2;
  white-space: pre-line;
}

#survol:hover .tooltip {
  display: block;
}
*/

.tooltipGamme {
  display: none;
  position: absolute;
  background: #0e0e0ec4;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-60%);
  font-size: 15px;
  z-index: 2;
  min-width: 500px;
  white-space: pre-line;
}

#survol:hover .tooltipGamme {
  display: block;
}

#myFormHauteur {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

#containerSlider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

#boxDimensions {
  display: flex;
}



.custom-slider-container {
  position: relative;
}

/* SLIDER DIMENSIONS */

/* Cacher le curseur par défaut */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 90%;
  background: transparent; /* Rendre le fond transparent */
}

/* Styles pour la piste (track) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  background: #d19dab;
  border-radius: 5px;
}

/* Styles pour le pouce (thumb) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #a0445d;
  border-radius: 50%;
  margin-top: -5px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #913b52;
  cursor: pointer;
}

/* Styles pour Firefox */
input[type="range"]::-moz-range-track {
  height: 10px;
  background: #e3d5ca;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #b2967d;
  border-radius: 50%;
  border: none;
}

/* Styles pour Edge (Chromium) */
input[type="range"]::-ms-track {
  height: 10px;
  background: #e3d5ca;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #b2967d;
  border-radius: 50%;
  border: none;
}

.sliderDimension {
  padding-top: 10px;
}

/* FIN SLIDER DIMENSIONS */

#imgInfo {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.flexboxSituation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.boutonSituation {
  border: #0000008f;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #9c5e6f;
  color: white;
  width: 100%;
  margin: 4px 8px 0 8px;
}

.boutonSituation:hover {
  background-color: #915364;
  color: white;
  cursor: pointer;
}

#appliqueDimensions {
  width: auto;
  margin: 0;
}

#boutonSituation1 {
  display: none;
}

.label-file {
  cursor: pointer;
  color: #FFFFFF;
  border: #FFFFFF;
  border-radius: 20px;
  background-color: #9c5e6f;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.label-file:hover {
  color: #ffffff;
  background-color: #915364;
  cursor: pointer;
}

.interBox {
  min-height: 30px;
}

#containerToggle1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#texteToggle1 {
  color: black;
}

/* INPUT HAUTEUR/LARGEUR */
#sliderLengthInput,
#sliderWidthInput {
  width: 38%;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: black;
  margin-right: 10px;
  margin-left: auto;
}

/* REGLE DE LARGEUR ALERTE */
.alerte {
  font-size: 12px;
  color: #be0000;
  margin-top: 10px;
}

hr {
  border: 1px solid #eeeeee;
  margin-top: 3px;
  margin-bottom: 3px;
}

.boutonAlert{
  border: #0000008f;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #9c5e6f;
  color: white;
  display: none;
}

.boutonAlert:hover{
  background-color: #9c5e6f;
  color: white;
  cursor: pointer;
}


#AlertLargeurBois, #AlertLargeurAlu, #AlertLargeurPvc{
  display: none;
}

#part2{
  display: none;
}



/* navbar mobile */

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar a {
  display: none;
  text-align: left;
  padding: 10px;
  background-color: #efefef;
  color: #a0445d;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #efefef;
}
.navbar.responsive a {
  display: block;
}
.icon {
  display: none;
}
@media screen and (max-width: 900px) {
  .navbar a.icon {
      display: block;
      background-color: none;
  }
  .navbar.responsive {
      display: block;
      box-shadow: 4px 4px 17px 10px rgba(0,0,0,0.1);
      border-bottom-right-radius: 15px;
  }
  .navbar.responsive a {
      display: block;
      
  }
  .navbar:not(.responsive) a:not(:first-child) {
      display: none;
  }
  .menu{
    display: none;
  }
  .navbar a {
    background-color: #efefef;
  }

  .box{
    width: 60%;
    position:relative;
    top: 65%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    max-height: 220px;
    padding-bottom: 10px;
  }
  .box::-webkit-scrollbar {
    display: none;
}
.rightDiv{
  position: absolute;
  width: 100%;
  bottom: 5%;
}
/*
#survol{
  display: none;
}
*/
}

@media screen and (max-width: 600px) and (min-height: 900px) {
  .box{
    width: 90%;
    position:relative;
    top: 65%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    max-height: 220px;
    padding-bottom: 10px;
  }
  .box::-webkit-scrollbar {
    display: none;
}

.rightDiv{
  position: absolute;
  width: 100%;
  bottom: 5%;
}
}


@media screen and (max-width: 1300px) {
.numero{
  width: 20px;
  height: 20px;
  font-size: 20px;
}
#titreArianne{
  font-size: 16px;
}
.numero.selected{
  width: 30px;
  height: 30px;
  font-size: 30px;
}
h1 {
font-size: 25px;
}
}

@media screen and (max-width: 1100px) {
  .numero{
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
  #titreArianne{
    font-size: 14px;
  }
  .numero.selected{
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
}


@media screen and (max-width: 600px) {
  .box{
    width: 90%;
    position:relative;
    top: 65%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    max-height: 220px;
    padding-bottom: 10px;
  }

  .rightDiv{
    position: absolute;
    width: 100%;
    bottom: 5%;
  }


}

@media screen and (min-width: 901px) and (max-width: 1700px){
  .rightDiv{
    width: 80%;
  }
}

@media screen and (max-height: 900px) and (min-width: 900px){
  .box{
    padding-bottom: 10px;
    overflow-y: scroll;
    max-height: 450px;

  }
  .box::-webkit-scrollbar {
    display: none;
}
}

@media screen and (max-height: 800px) and (min-width: 900px){
  .box{
    padding-bottom: 10px;
    overflow-y: scroll;
    max-height: 350px;

  }
  .box::-webkit-scrollbar {
    display: none;
}
}
