html {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100% !important;
  width: 100%;
  padding: 0;
  margin: 0;
}
#viewer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#formAccueil {
  position: absolute;
  top: 40%;
  right: 8%;
  transform: translate(0%, -50%);
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 1px solid rgb(211, 211, 211);
  background-color: white;
  width: 460px;
}

#endForm {
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.endFormInput {
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  padding: 4px;
  outline: none;
  border: none;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 6px;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.endFormInput:focus {
  outline: 2px solid #9c5e6f;
  border: 1px solid white;
}

.endFormInput[type="text"].valid,
.endFormInput[type="email"].valid {
  outline: 2px solid rgb(103, 165, 103);
  border: 1px solid white;
}

.endFormInput[type="text"].invalid,
.endFormInput[type="email"].invalid {
  border: 1px solid transparent;
  outline: 2px solid red;
}

.asterisk {
  color: red;
}

.error {
  color: red;
}

.radioError {
  margin-top: -24px;
}

.radioGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  margin-bottom: 12px;
}

button {
  background-color: #9c5e6f;
  border: none;
  height: 36px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

button:hover {
  background-color: #915364;
  cursor: pointer;
}

#button {
  width: 50%;
  border: #a0445d;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #a0445d;
  color: white;
  cursor: pointer;
}

#button:hover {
  background-color: #9c5e6f;
}

/* Cible le bouton radio avec l'ID "RGPD" */
#RGPD[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #a0445d;
  border-radius: 50%;
  background-color: white;
  margin: 0;
}

/* Cible le bouton radio lorsqu'il est coché */
#RGPD[type="radio"]:checked {
  background-color: #a0445d;
  box-shadow: inset 0 0 0 4px white; /* Ajoute une bordure blanche à l'intérieur du bouton */
}

#RGPD {
  justify-content: center;
  vertical-align: sub;
}

/* .container {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
} */

.titreWidth {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.titreContainer {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 1px solid rgb(211, 211, 211);
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  margin-bottom: 24px;
}

@media screen and (max-width: 900px) {
  #formAccueil {
    position: relative;
    top: 65%;
    left: 0;
    transform: none;
    width: 90%;
    max-height: 220px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
  }
  .titreWidth {
    display: none;
  }
  #formAccueil::-webkit-scrollbar {
    display: none;
  }
  .containerForm {
    position: absolute;
    width: 100%;
    bottom: 5%;
  }
}

@media screen and (max-width: 600px) and (min-height: 900px) {
  #formAccueil {
    position: relative;
    top: 65%;
    left: 0;
    transform: none;
    width: 90%;
    max-height: 220px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
  }
  .titreWidth {
    display: none;
  }
  #formAccueil::-webkit-scrollbar {
    display: none;
  }
  .containerForm {
    position: absolute;
    width: 100%;
    bottom: 5%;
  }
}

@media screen and (max-width: 1300px) {
  #formAccueil {
    position: relative;
    top: 65%;
    left: 0;
    transform: none;
    width: 90%;
    max-height: 220px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
  }
  .titreWidth {
    display: none;
  }
  #formAccueil::-webkit-scrollbar {
    display: none;
  }
  .containerForm {
    position: absolute;
    width: 100%;
    bottom: 5%;
  }
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 901px) and (max-width: 1700px) {
}

@media screen and (max-height: 900px) and (min-width: 900px) {
}

@media screen and (max-height: 800px) and (min-width: 900px) {
}
