html {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100% !important;
  width: 100%;
  padding: 0;
  margin: 0;
}
#viewer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#formAccueil {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 1px solid rgb(211, 211, 211);
  background-color: white;
  width: 460px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  padding: 4px;
  outline: none;
  border: none;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 6px;
  margin-bottom: 12px;
}

input:focus {
  outline: 2px solid #9c5e6f;
  border: 1px solid white;
}

.radioGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  margin-bottom: 12px;
}

button {
  background-color: #9c5e6f;
  border: none;
  height: 32px;
  border-radius: 8px;
  color: white;
}

button:hover {
  background-color: #915364;
  cursor: pointer;
}

#button {
  width: 50%;
  border: #a0445d;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #a0445d;
  color: white;
  cursor: pointer;
}

#button:hover {
  background-color: #9c5e6f;
}

/* Cible le bouton radio avec l'ID "RGPD" */
#RGPD[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #a0445d;
  border-radius: 50%;
  background-color: white;
  margin: 0;
}

/* Cible le bouton radio lorsqu'il est coché */
#RGPD[type="radio"]:checked {
  background-color: #a0445d;
  box-shadow: inset 0 0 0 4px white; /* Ajoute une bordure blanche à l'intérieur du bouton */
}

#RGPD {
  justify-content: center;
  vertical-align: sub;
}

/* .container {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
} */

.titreWidth {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.titreContainer {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 1px solid rgb(211, 211, 211);
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  margin-bottom: 24px;
}

#titre {
}

.menu {
}
